* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

/* ============= Common ============= */
.content {
  width: 1170px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 144px;
  height: 50px;
  text-align: center;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
}

.btn:hover {
  background-color: #ffb900;
}

a {
  text-decoration: none;
}

/* ============= Header ============= */
.header {
  position: sticky;
  top: -24px;
  z-index: 2;
  background: #fffcf4;
  padding-top: 24px;
}

.header .navbar {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.navbar .list {
  display: flex;
  margin-left: 521px;
  gap: 42px;
}

.navbar .list a {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.navbar .list a:hover {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.navbar .list a:hover::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.navbar .actions {
  margin-left: auto;
}

/* ============= Hero ============= */
.hero {
  padding: 64px 0 65px 0;
  background: #fffcf4;
  height: calc(100vh - 74px);
}

.hero .content {
  display: flex;
}

.hero-img {
  position: relative;
  display: flex;
  min-width: 570px;
  height: 685px;
}

.hero-img .main-image {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-img .courses-qty {
  position: absolute;
  bottom: 48px;
  right: 0px;
  min-width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.hero-img .courses-content {
  margin: 24px 0 0 24px;
}

.hero-img .row {
  display: flex;
  align-items: center;
  margin-top: 14px;
  min-width: 188px;
  height: 56px;
}

.hero-img .row .icon {
  width: 48px;
  height: 48px;
}

.hero-img .text {
  margin-left: 16px;
}

.hero-img .text .number {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero-img .text .courses-name {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero-info {
  margin: 64px 0 0 130px;
}

.hero-info .title {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero-info .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero-info .actions {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero-info .actions .hero-btn {
  min-width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #ffb900;
  font-size: 1.8rem;
  line-height: 64px;
}

.hero-info .actions .hero-btn:hover {
  opacity: 0.7;
}

.hero-info .actions .play {
  margin-left: 28px;
  padding-top: 12px;
}

.hero-info .actions .text {
  margin-left: -2px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
.hero-info .recent-qty {
  margin-top: 48px;
}

.hero-info .recent-qty .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero-info .recent-qty .row {
  display: flex;
  gap: 28px;
}

.hero-info .recent-qty .quantity {
  display: flex;
  align-items: baseline;
  margin-top: 18px;
}

.hero-info .quantity .number {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22;
}

.hero-info .quantity .text {
  margin-left: 12px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

/* ============= Courses ============= */
.courses {
  margin-top: 38px;
  padding: 162px 0 0 0;
}

.courses .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .row .sub-title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.courses .row .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.courses .row .icon {
  display: flex;
}

.courses .row .icon-left,
.courses .row .icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.courses .row .icon-left {
  background-color: #fff;
  border: solid 1px #ffb900;
}

.courses .row .icon-right {
  margin-left: 18px;
  background-color: #ffb900;
  border: solid 1px #fff;
}

.courses .row .arrow-left,
.courses .row .arrow-right {
  width: 6px;
  height: 12px;
}

.courses .list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.courses .list .item {
  width: 370px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e2dfda;
}

.courses .list .item-img {
  width: 370px;
  height: 278px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.courses .item-info {
  padding: 16px 0 22px 22px;
  width: 326px;
}

.courses .item-info .sub-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .item-info .heading {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.courses .item-info .sub-row-left {
  display: flex;
  align-items: center;
}

.courses .item-info .point {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.courses .item-info .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.courses .item-info .row-price {
  margin-top: 12px;
}

.courses .item-info .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.courses .item-info .book-btn {
  min-width: 118px;
}

/* ============= Feedback ============= */
.feedback {
  margin-top: 200px;
  width: 100vw;
  height: 380px;
  background: #2e2100;
}

.feedback .content {
  display: flex;
  padding: 96px 0 96px;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .name {
  display: block;
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41;
}

.feedback .job {
  margin-top: 4px;
  width: 159px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.feedback .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback .dots a {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
}

.feedback .dots a:hover,
.feedback .dots a:focus {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #ffb900;
}

.feedback .fb-content {
  position: relative;
  margin-left: 241px;
  width: 770px;
  height: 188px;
}

.feedback .fb-text {
  position: absolute;
  top: 28px;
  left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.53;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ============= Next content ============= */
